<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>image:</strong> #thumbnailをimageへ変更
  <%= image_tag @blog.image.variant(resize_to_limit: [800, 800]) %>#thumbnailをimageへ変更
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
